html, body {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.main-sec {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    background-image: url("./media/bg.jpg");
    background-size: cover;
    background-position: center;
}

.title-sec {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: rgb(219, 27, 27);

}

.buttons-sec {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.buttons-sec button {
    padding: 1em;
    font-size: large;
    border-radius: 1em;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.buttons-sec button:first-child {
    background-color: rgb(179, 18, 131);
    color: #fff;
    border: #fff;
}
.buttons-sec button:hover {
    transform: scale(1.05);
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sub-sec {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}